<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date</title>
</head>
<body>
   <h1>Today</h1>
   <% 'require date' %>
  <% time = Time.now.strftime("%A, %B %d, %Y") %>
  <p> The date is <%= time%>."</p>
 </body>
</html>